[v-cloak] {
  display: none;
}
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}
body {
  font-family: source-han-sans-japanese, sans-serif;
  font-weight: 400;
  font-style: normal;
}
.clock_image {
  position: relative;
  max-width: 90vw;
  margin: auto;
}
.clock_image img,
.clock_image svg {
  max-height: 90vh;
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

#app > div > img:nth-child(2) {
  /* 時針 */
  /* transform: rotate(160deg); */
}
#app > div > img:nth-child(3) {
  /* 分針 */
  transform: rotate(25deg);
}
#app > div > img:nth-child(4) {
  /* 秒針 */
  transform: rotate(-90deg);
}
.beb10efc-114d-4f90-bdd7-6cb9d493db1f,
.a0db5222-cd58-4cc9-b78f-28a7f40562de,
.b52463cb-68fc-4464-ad21-5ba14c651dc6 {
  fill: #454c50;
}
